.carousel img {
  position: relative;
  left: 30%;
  right: 30%;
}

.carousel .shown {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 47%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
}

.carousel .hddn {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 33%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
}

.hddn {
  display: none;
}

img{
  cursor:pointer;
}

.carousel{
  min-height: 500px;
}
