@import url(https://fonts.googleapis.com/css?family=Pacifico);

h1 {
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Pacifico', serif;
}


.carousel img {
  position: relative;
  left: 30%;
  right: 30%;
  margin-top: 50px;
}

.carousel .shown {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 47%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
}

.carousel .hddn {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 33%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
}

.hddn {
  display: none;
}

img{
  cursor:pointer;
}

.carousel{
  min-height: 400px;
}
