@import url(https://fonts.googleapis.com/css?family=Pacifico);

h1 {
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Pacifico', serif;
}


.carousel img {
  position: relative;
  left: 30%;
  right: 30%;
  margin-top: 50px;
}

.carousel .shown {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 47%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
}

.carousel .hddn {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 33%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
}

.hddn {
  display: none;
}

img{
  cursor:pointer;
}

.carousel{
  min-height: 400px;
}

#name_conv_front{
  left: 45%;
}

#plus_minus_front{
  left: 51%;
}

#plus_minus_back{
  left: 35%;
}

#func_back{
  left:32%;
}

#meth_back{
  left:35.5%;
}

#str_front{
  left: 49.4%;
}

#str_back{
  left:36.5%;
}

#chain_front{
  left:45%;
}

#chain_back{
  left:35.5%;
}

#alrt_front{
  left:49%;
}

#comm_front{
  left:44%;
}

#comm_back{
  left:34%;
  top:115px;
}

#para_back{
  left:37%;
}

#rtrn_back{
  left: 34%;
}

#rtrn_front{
  left:49%;
}
